.mobile {
    display: none;
  }
  
.desktop {
  display: block;
}

  
  @media only screen and (max-width: 800px) {
    .mobile {
      display: block;
    }
    /* nav .menu-nav {
        clear: none;
        float: right;
        max-height: none;
      } */
  
    .desktop {
      display: none;
    }
  }

  @media only screen and (max-width: 700px) {

    .mode-gradient > nav {
      font-size: x-small;
    }
    #audio-desktop-size{
      display: none;
    }
 
 }